.todo-container {
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  padding: 0.5rem;
  padding-top: 0rem;
  text-align: center;
  max-height: 640px; /* กำหนดความสูงสูงสุดของตาราง */
  overflow-y: auto; /* เพิ่มการเลื่อนแนวตั้ง */
  overflow-x: auto; /* เพิ่มการเลื่อนแนวนอน */

  
}

.todo-filters-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
 

  background-color: white;
  position: sticky; /* ตำแหน่งคงที่เมื่อเลื่อน */
  top: 0; /* ติดกับด้านบน */
  z-index: 10; /* ทำให้แน่ใจว่าฟิลเตอร์อยู่ด้านหน้า */
  padding: 0.5rem;
}

.table-dark {
  background-color: black;
  position: sticky; /* ทำให้หัวตารางคงที่ */
  top: 53.7px; /* ระยะจากด้านบน กำหนดให้ต่ำกว่า .todo-filters-container */
  
}

.form-check {
  display: flex;
  align-items: center;
}

.form-check-label {
  margin-right: 10px;
}

.todo-table {
  border: 1px solid black;

  width: 100%;
  border-collapse: collapse;

}

.todo-space {
  margin: 0 0.5rem
}

/* .todo-table th, .todo-table td {
  border: 1px solid black;
  padding: 0.5rem;
} */

